* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

.acoes {
  text-align: center;
  padding-top: 5%;

  width: 100px;
  color: white;

  border-radius: 5px;
  box-shadow: 0 0 8px white;
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 20px;
}

.align-acoes {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

p.symbol {
  color: yellow;
}

p.change-percent {
  color: green;
}
