@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, Sans-Serif;
}

div.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

div.title h1 {
  color: white;
}

div.title ul {
  display: flex;
}

div.title ul li {
  list-style: none;
  padding: 5px;
}
div.title ul li a {
  color: white;
}

div.title ul li a.cadastro {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: rgb(238, 238, 97);
  border: 1px solid yellow;
  border-radius: 5px;

  padding: 5px;
}
